@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@200;400;600;800&display=swap");

body {
  font-family: "Kanit", sans-serif;
  background-color: antiquewhite;
  background-image: url("./images/back.jpg");
  background-position: right center;
  background-repeat: no-repeat;
  background-size: auto auto;
  margin: 0;
  padding: 0;
}

#root {
  min-height: 100vh;
}
